
<style>
      body {
        margin: 0;
	      background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
    }
    table {
    margin: 0 auto;
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    th {
            background-color: #55608f !important;
    }

    th,
    td {
        padding: 15px;
        background-color: rgba(255,255,255,0.2);
        color: #fff;
    }

    th {
        text-align: left;
    }

    .container{
        position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
    }

    .container-form {
      position: absolute;
	    top: 50%;
	    right: 50%;
	    transform: translate(-50%, -50%);
    }

    .image{
      display: block;
      width: 60%;
      height: 60%;
    }
    .update, .delete {
        text-decoration: none;
        color: #5f2c82;
        padding: 5px;
        font-size: 20px;
        font-weight: 600;

    }

    .update:hover,.delete:hover {
      color: white;
    }

    .add {
      text-decoration: none;
        color: #5f2c82;
        padding: 5px;
        font-size: 20px;
        font-weight: 600;

    }

    .add:hover {
      color: white;
    }

    
    .buttons{
        display: flex;
        justify-content: space-around ;
    }

    h1{
      text-align: center;
        color: white;
    }
</style>

<div class="container">
  <h1><%= title %></h1>
  <a href="/players/addPlayer" class="add">Add player</a>
  <table class="table">
    
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Club</th>
          <th>Position</th>
          <th>Goals</th>
          <th>Captain</th>
          <th>Nations</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
         <% players.forEach(function(player){ %>
          <tr>
            <td>
              <img class="image" src=<%= player.image %> >
            
          </td>
            <td> <%= player.name %> </td>
            <td> <%= player.club %> </td>
            <td> <%= player.position %> </td>
            <td> <%= player.goals %> </td>
            <td> <%= player.isCaptain %> </td>
            <td> <%= player.nationName %> </td>
            <td>
              <div class="buttons are-small">
                <a href="/players/update/<%= player._id%>" class="update">Edit</a>
                
                <a href="/players/delete/<%= player._id%>" class="delete">Delete</a>  
              </div>
            </td>
          </tr>
          <% })%>
          </tbody>
  </table>
</div>
